<md-dialog aria-label="Dialog Header" style="width: 60%">
 <md-content>
    <md-subheader class="md-sticky-no-effect"> {{'dialogHeading' | translate}} </md-subheader>
    <md-text-float label="{{'dialogRow1' | translate}}"  ng-model="song.name" class="long"> </md-text-float>
    <md-text-float label="{{'dialogRow2' | translate}} " ng-model="song.link" class="long"> </md-text-float>
    <md-text-float label="{{'dialogRow3' | translate}} " ng-model="song.albumID" class="long"> </md-text-float>
    <md-text-float label="{{'dialogRow4' | translate}} " ng-model="song.downloads" class="long"> </md-text-float>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="updateSong()" class="md-raised md-primary">
      {{'dialogButton' | translate}} 
    </md-button>
  </div>
</md-dialog>
